:root{
    --title-movie-color: #808080;
    --TxtColor: #fff;
    --GrayColor: gray;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: rgb(233, 230, 230);
    font-family: 'Open Sans', sans-serif;
}

.first_section, .second_section{
    display: block;
    position: relative;
    left: 500px;
    grid-column: 2;
    margin: 50px;
    width: 700px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid rgb(168, 166, 166);
    padding: 20px;
}

.third_section{
    display: block;
    position: relative;
    left: 500px;
    grid-column: 2;
    margin: 50px;
    width: 700px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid rgb(168, 166, 166);
    padding: 20px 40px;
} 

.first_section{
    height: 600px;
    border-radius: 20px;
    text-align: center;
} 

.first_section h1{
    color: #d42a2a;
    font-size: 50px;
}

.first_section h2{
    margin-top: 25px;
    color: var(--GrayColor);
    font-size: 30px;
}

.first_section p{
    margin-top: 20px;
    text-align: left;
    font-size: 25px;
    color: var(--GrayColor);
}

.first_section img{
    position: relative;
    /* left: 40%; */
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid lightgray;
}

.button {
    position: relative;
    top: 55px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #d42a2a;
    color: var(--TxtColor);
    padding: 15px 30px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.4s ease;
  }
  
  .button:before {
    content: "";
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 20%;
    background-color: #e8e8e8;
    translate: -100% 0;
    rotate: 45deg;
    transition: all 0.4s ease;
  }
  
  .button:hover {
    color: #ffffff;
    background-color: #811212;
    box-shadow: 0 0 24px 8px #e62e2e;
  }
  
  .button:hover:before {
    translate: 100%;
  }
  
  .button:active {
    scale: 0.95;
    box-shadow: 0 0 16px 4px rgba(131, 100, 232, 0.4);
  }
  

.second_section ul{
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 20px 0;
}

.second_section i{
    font-size: 40px;
}

.second_section ul a{
    text-align: center;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--GrayColor);
    font-size: 20px;
}


.third_section .title{
    text-align: center;
    font-size: 35px;
    color: var(--title-movie-color);
}

.third_section img{
    position: relative;
    top: 105px;
    width: 25%;
}

.third_section .movie-title{
    position: relative;
    top: -130px;
    left: 100px;
    text-align: center;
    color: var(--title-movie-color);
}

.third_section p{
    text-align: left;
    /* width: 75%; */
    position: relative;
    top: -120px;
    font-size: 25px;
    margin-left: 180px;
    color: var(--GrayColor);
    letter-spacing: 2px;
}